<h1>Create a Song</h1>

<%= form_for @song  do |f| %>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br />

  <%= f.label :artist_name %>
  <%= f.text_field :artist_name %><br>

  <%= f.label :genre_id %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  
  <h2>Notes</h2>

  <%= f.fields_for :notes do |note_form| %>
    <%= note_form.label :note %><br>
    <%= note_form.text_field :content %><br>
    <% end %>
    
  <%= f.submit %>
<% end %>

<%# A text input box that sets the Song's title.
A text input box for the Artist.
A selection box for Genre. Users should be able to pick amongst existing genres only.
Several text input boxes to add notes to the song. %>